################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEuler/v16/Server/sqlite3
/.vs/ProjectEuler/v16/.suo
ProjectEuler/bin/Debug/ProjectEuler.exe
ProjectEuler/bin/Debug/ProjectEuler.pdb
ProjectEuler/obj/Debug/ProjectEuler.csprojAssemblyReference.cache
ProjectEuler/obj/Debug/ProjectEuler.exe
ProjectEuler/obj/Debug/ProjectEuler.pdb
ProjectEuler/ProjectEuler.csproj.user
/.vs/ProjectEuler/FileContentIndex
/.vs/ProjectEuler/v17
/ProjectEuler/obj/Debug/ProjectEuler.csproj.SuggestedBindingRedirects.cache
/ProjectEuler/obj/Debug/ProjectEuler.csproj.CoreCompileInputs.cache
/ProjectEuler/obj/Debug/ProjectEuler.csproj.AssemblyReference.cache
/ProjectEuler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProjectEuler/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
