################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
ProjectEuler/bin
ProjectEuler/obj
ProjectEuler/ProjectEuler.csproj.user
/.vs/ProjectEuler/FileContentIndex
/.vs/ProjectEuler/v17
/ProjectEuler/obj/Debug/ProjectEuler.csproj.SuggestedBindingRedirects.cache
/ProjectEuler/obj/Debug/ProjectEuler.csproj.CoreCompileInputs.cache
/ProjectEuler/obj/Debug/ProjectEuler.csproj.AssemblyReference.cache
/ProjectEuler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProjectEuler/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
